<p>Table with meteo & variables</p>

<mat-form-field class="input-class" appearance="fill">
    <mat-label>Meteo Station</mat-label>
    <mat-select (selectionChange)="applyFilter($event.value)">
      <mat-option *ngFor="let meteoStation of meteoStationsData" [value]="meteoStation">
        {{meteoStation}}
      </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Date Range</mat-label>
    <mat-date-range-input [rangePicker]="dateRangePicker">
      <input matStartDate
        placeholder="Start date"
        #dateRangeStart>
      <input matEndDate
        placeholder="End date"
        #dateRangeEnd
        (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
    </mat-date-range-input>
    <mat-datepicker-toggle matPrefix
      [for]="dateRangePicker">
    </mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  </mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
      <!-- cod_station Column -->
      <ng-container matColumnDef="cod_station">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cod_station"> cod_station </th>
        <td mat-cell *matCellDef="let element"> {{element.cod_station}} </td>
      </ng-container>
  
      <!-- ts Column -->
      <ng-container matColumnDef="ts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ts"> ts </th>
        <td mat-cell *matCellDef="let element"> {{element.ts}} </td>
      </ng-container>
  
      <!-- temp Column -->
      <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by temp"> temp </th>
        <td mat-cell *matCellDef="let element"> {{element.temp}} </td>
      </ng-container>
  
      <!-- wind Column -->
      <ng-container matColumnDef="wind">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by wind"> wind </th>
        <td mat-cell *matCellDef="let element"> {{element.wind}} </td>
      </ng-container>

      <!-- prec Column -->
      <ng-container matColumnDef="prec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by prec"> prec </th>
        <td mat-cell *matCellDef="let element"> {{element.prec}} </td>
      </ng-container>

      <!-- pres Column -->
      <ng-container matColumnDef="pres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pres"> pres </th>
        <td mat-cell *matCellDef="let element"> {{element.pres}} </td>
      </ng-container>

      <!-- hum Column -->
      <ng-container matColumnDef="hum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hum"> hum </th>
        <td mat-cell *matCellDef="let element"> {{element.hum}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of meteo and variables">
    </mat-paginator>
  </div>
  <div class="div-legend">
    <p><strong>Meteo Variables Legend:</strong></p>
    <p class="paragraph-02">{{meteoVars}}</p>
</div>