<div class="header">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="main"><a routerLink="/main">Main</a></mat-button-toggle>
        <mat-button-toggle value="table"><a routerLink="/table">Table</a></mat-button-toggle>
        <mat-button-toggle value="graphic"><a routerLink="/graphic">Graphic</a></mat-button-toggle>
        <mat-button-toggle value="map"><a routerLink="/map">Map</a></mat-button-toggle>
      </mat-button-toggle-group>
  </div>
